    /* NavBar */
.NavBar{
    background-color: #F06843;
    padding-bottom: 150px;
}
.nav-link{
    color: rgb(246, 0, 0);
    font-weight: bold;
    font-size: 20px;
}

.FontTexts{
    background-color: #F06843;
    padding-bottom: 150px;
}
